# Unity
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
*.csproj
*.sln
*.user
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# 运行产物
*.log
*.png
*.tgz
__pycache__/
*.pyc

# Node
node_modules/

# OS
.DS_Store
Thumbs.db
